.analytics-container {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 16px;
}

.analytics-box {
	background: #f9fcff;
	padding: 16px;
	border-radius: 12px;
	width: 40%;
	min-width: 300px;
}

.analytics-circle {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #90c4cc;
}

.analytics-task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}
.analytics-task > div {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}
