.dashboard-container {
	display: flex;
	overflow-x: auto;
	height: 100vh;
	padding: 16px;
	gap: 16px;
	margin-left: 200px;
	width: calc(100% - 200px);
}

.column {
	min-width: 350px;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	/* scroll-snap-align: start; */
	overflow-y: hidden;
	height: 100%;
	background: #eef2f5;
}

.column > h4 {
	margin: 16px;
	height: fit-content;
	font-weight: 500;
}

.column > div {
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow-y: auto;
	padding: 0px 12px;
	height: 95%;
	padding-bottom: 100px;
}

@media (max-width: 768px) {
	.dashboard-container {
		margin-left: 0;
		width: 100%;
	}
}

/* Scrollbar Style */
.dashboard-container::-webkit-scrollbar {
	height: 8px;
}

.dashboard-container::-webkit-scrollbar-thumb {
	background: #8daab9cc;
	cursor: grab;
	border-radius: 4px;
}

.dashboard-container::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.dashboard-container::-webkit-scrollbar-track {
	background: #d6eaf4;
}

.column > div::-webkit-scrollbar {
	width: 8px;
}

.column > div::-webkit-scrollbar-thumb {
	background: #8daab9cc;
	cursor: grab;
	border-radius: 4px;
}

.column > div::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.column > div::-webkit-scrollbar-track {
	background: #d6eaf4;
}
