.dashboard-container {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	height: 100vh;
	padding-left: 16px;
	gap: 16px;
	margin-left: 200px;
	width: calc(100% - 200px);
	min-width: 725px;
}

.dashboard-header {
	padding-right: 16px;
}

.dashboard-header div h2,
.dashboard-header div h3,
.dashboard-header div h4 {
	font-weight: 600 !important;
}

.dashboard-header > .header-user {
	margin: 20px 0px;
}

.dashboard-header div h4 {
	opacity: 0.7;
}

.dashboard-header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-board > div {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}
.add-people {
	cursor: pointer;
	margin-left: 10px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 4px;
	opacity: 0.7;
}

.dashboard-header .header-time span {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-size: 15px;
	cursor: pointer;
}

.dashboard-column {
	display: flex;
	overflow-x: auto;
	height: 100vh;
	padding-bottom: 16px;
	width: 100%;
}

.column {
	min-width: 350px;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	overflow-y: hidden;
	height: 100%;
	background: #eef2f5;
	margin-right: 16px;
}

.column > h4 {
	padding: 16px;
	height: fit-content;
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.column > h4 > span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

/* Scrollbar Style */
.dashboard-column::-webkit-scrollbar {
	height: 8px;
}

.dashboard-column::-webkit-scrollbar-thumb {
	background: #8daab9cc;
	cursor: grab;
	border-radius: 4px;
}

.dashboard-column::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.dashboard-column::-webkit-scrollbar-track {
	background: #d6eaf4;
}

.column > div::-webkit-scrollbar {
	width: 8px;
}

.column > div::-webkit-scrollbar-thumb {
	background: #8daab9cc;
	cursor: grab;
	border-radius: 4px;
}

.column > div::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.column > div::-webkit-scrollbar-track {
	background: #d6eaf4;
}
