.model-container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 110;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #303d438c;
}

.model-box {
	background: #fff;
	padding: 30px 20px;
	border-radius: 12px;
	min-width: 400px;
	width: 35%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
	border: 1px solid #efefef;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);
}

.model-card {
	height: 70%;
	justify-content: space-between;
	font-size: 16px;
}
.assign-unselect-color {
	color: gray;
}
.model-task-null {
	align-items: center;
}
.model-task-null p {
	text-align: center;
	opacity: 0.9;
	font-size: 14px;
}
.model-card-details {
	height: 100%;
	width: 100%;
}
.model-assign {
	display: flex;
	align-items: center;
}
.model-assign span {
	font-size: 14px;
	margin-right: 10px;
	font-weight: 500;
	text-wrap: nowrap;
}
.model-box span {
	font-weight: 500;
}

.model-box-s {
	width: fit-content;
}
.model-box h3 {
	font-weight: 500;
}

.model-center {
	text-align: center;
	width: 100%;
	margin: 16px 0px;
}

.checklist-box {
	width: 100%;
	max-height: 26vh;
	overflow-y: auto;
	padding-right: 5px;
}

.checklist-box::-webkit-scrollbar,
.assign-selection-box::-webkit-scrollbar {
	width: 8px;
}

.checklist-box::-webkit-scrollbar-thumb,
.assign-selection-box::-webkit-scrollbar-thumb {
	background: #8daab9cc;
	cursor: grab;
	border-radius: 4px;
}

.checklist-box::-webkit-scrollbar-thumb:active,
.assign-selection-box::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.checklist-box::-webkit-scrollbar-track,
.assign-selection-box::-webkit-scrollbar-track {
	background: #d6eaf4;
}

.assign-model-box {
	width: 100%;
	position: relative;
}
.model-input {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
	margin: 6px 0px;
}
.model-assign-input {
	cursor: pointer;
}
.assign-selection-box {
	position: absolute;
	width: 100%;
	background-color: #fff;
	top: 100%;
	left: 0px;
	border-radius: 5px;
	z-index: 99;
	display: flex;
	gap: 20px;
	flex-direction: column;
	height: 0px;
	overflow-y: scroll;
	transition: all 0.1s ease;
	padding: 0px 10px;
}
.assign-selection-box-exist {
	height: fit-content;
	max-height: 30vh;
	padding: 8px 10px;
	border: 1px solid #ccc;
}

.assign-selection-box > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.assign-selection-box > div > div {
	display: flex;
	align-items: center;
	width: calc(100% - 140px);
	overflow: hidden;
}
.assign-selection-box button {
	width: fit-content;
	padding: 4px 40px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 500;
	border: 1px solid #ccc;
	color: gray;
}
.assign-selection-box span {
	font-weight: 500;
}
.assign-circel {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	min-width: 40px;
	border-radius: 50%;
	background-color: #ffebeb;
	margin-right: 5px;
}

.checklist-input-box {
	position: relative;
}
.model-checkbox {
	cursor: pointer;
}
.model-input-btn {
	padding: 8px 35px;
}
.checklist-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* cursor: pointer; */
}
.checklist-btn-l {
	left: 8px;
}
.checklist-btn-r {
	right: 8px;
	color: red;
}
.model-btns {
	display: flex;
	gap: 12px;
	justify-content: space-between;
	width: 100%;
}
.model-box-s .model-btns {
	flex-direction: column;
}

.model-btns button {
	width: 100%;
	padding: 8px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 500;
}

.model-cancel {
	border: 1px solid red;
	color: red;
}

.model-submit {
	background: #17a2b8;
	color: white;
	border: 1px solid #17a2b8;
}

.model-due-date {
	margin-right: 20px;
	border: 1px solid #ccc;
	text-wrap: nowrap;
}

.model-btns label {
	cursor: pointer;
	width: 100%;
}

#model-card-date {
	height: 0px;
	width: 0px;
	opacity: 0;
}
.require {
	color: red;
	font-size: 14px !important;
	margin-bottom: 5px;
}
.priority-box {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	margin: 5px 0;
	font-size: 14px;
	margin: 12px 0;
}
.priority-box span {
	text-wrap: nowrap;
	font-size: 14px;
}
.priority-box label span {
	text-wrap: nowrap;
	font-size: 12px;
	text-transform: uppercase;
}
.priority-box > div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 5px;
}
.priority-box > div label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: fit-content;
	border: 1px solid #ccc;
	padding: 2px 7px;
	border-radius: 8px;
	cursor: pointer;
	text-wrap: nowrap;
	background: #fff;
}

.priority-box input[type="radio"] {
	display: none;
}

.priority-circel {
	min-width: 7px;
	min-height: 7px;
	border-radius: 50%;
}

.selected-priority {
	background: #dad8d8 !important;
}
.checklist-head {
	font-size: 14px;
}
.checklist-add {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 5px;
	opacity: 0.8;
	cursor: pointer;
	margin: 16px 0;
	width: fit-content;
}

/* Model public view */
.nav-logo-public {
	position: absolute;
	top: 30px;
	left: 20px;
	width: fit-content;
	text-decoration: none;
}
.model-public {
	background-color: #fff;
}
.model-due {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 16px;
	font-size: 14px;
	font-weight: 500;
}
.model-due > div {
	padding: 8px 10px;
	border-radius: 10px;
	background: #cf3636;
	color: white;
}
.priority-public span {
	font-size: 10px;
	text-transform: uppercase;
}
.checklist-public {
	margin: 10px 0 6px 0;
}

.checklist-box-public {
	max-height: 40vh;
}

/* Responsive */
@media (max-width: 768px) {
	.model-box {
		min-width: 90%;
	}
}
