.model-container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #303d438c;
}

.model-box {
	background: #fff;
	padding: 30px 20px;
	border-radius: 12px;
	min-width: 400px;
	width: 35%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
}

.model-card {
	height: 70%;
	justify-content: space-between;
	font-size: 16px;
}
.model-card-details {
	height: 100%;
	width: 100%;
}

.model-box-s {
	width: fit-content;
}
.model-box h3 {
	font-weight: 500;
}

.model-center {
	text-align: center;
	width: 100%;
	margin: 16px 0px;
}

.checklist-box {
	width: 100%;
	max-height: 26vh;
	overflow-y: auto;
	padding-right: 5px;
}

.checklist-box::-webkit-scrollbar {
	width: 8px;
}

.checklist-box::-webkit-scrollbar-thumb {
	background: #8daab9cc;
	cursor: grab;
	border-radius: 4px;
}

.checklist-box::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.checklist-box::-webkit-scrollbar-track {
	background: #d6eaf4;
}

.model-input {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
	margin: 6px 0px;
}
.checklist-input-box {
	position: relative;
}
.model-input-btn {
	padding: 10px 30px;
}
.checklist-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.checklist-input-box input[type="checkbox"] {
	min-height: 15px;
	min-width: 15px;
	cursor: pointer;
	accent-color: #17a2b8;
}
.checklist-btn-l {
	left: 8px;
}
.checklist-btn-r {
	right: 8px;
	color: red;
}
.model-btns {
	display: flex;
	gap: 12px;
	justify-content: space-between;
	width: 100%;
}
.model-box-s .model-btns {
	flex-direction: column;
}

.model-btns button {
	width: 100%;
	padding: 8px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 500;
}

.model-cancel {
	border: 1px solid red;
	color: red;
}

.model-submit {
	background: #17a2b8;
	color: white;
	border: 1px solid #17a2b8;
}

.model-due-date {
	margin-right: 20px;
	border: 1px solid #ccc;
}

.model-btns label {
	cursor: pointer;
	width: 100%;
}

#model-card-date {
	height: 0px;
	width: 0px;
	opacity: 0;
}
.require {
	color: red;
	font-size: 14px;
	margin-bottom: 5px;
}
.priority-box {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	margin: 5px 0;
	font-size: 14px;
	margin: 12px 0;
}
.priority-box span {
	text-wrap: nowrap;
}
.priority-box > div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 5px;
}
.priority-box > div label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: fit-content;
	border: 1px solid #ccc;
	padding: 2px 7px;
	border-radius: 8px;
	cursor: pointer;
	text-wrap: nowrap;
	background: #fff;
}

.priority-box input[type="radio"] {
	display: none;
}

.priority-circel {
	min-width: 7px;
	min-height: 7px;
	border-radius: 50%;
}

.selected-priority {
	background: #dad8d8 !important;
}
.checklist-head {
	font-size: 14px;
}
.checklist-add {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 5px;
	opacity: 0.8;
	cursor: pointer;
	margin: 16px 0;
	width: fit-content;
}
/* Responsive */
@media (max-width: 768px) {
	.model-box {
		min-width: 90%;
	}
}
