.navbar {
	width: 200px;
	height: 100vh;
	background-color: white;
	color: black;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0;
	border-right: 1px solid #8daab952;
	z-index: 100;
	top: 0;
	left: 0;
}

.nav-logo {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 30px;
	color: black;
	letter-spacing: 0.1px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 15px;
	width: 100%;
	padding-left: 20px;
	text-decoration: none;
}

.nav-links {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}
.nav-links > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
}
.nav-logout {
	padding: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
}
.nav-log {
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 15px;
	width: fit-content;
	color: red;
	cursor: pointer;
}
.nav-log:hover {
	color: rgb(123, 0, 0);
}

.nav-link {
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 15px;
	width: 100%;
	padding-left: 20px;
	cursor: pointer;
}

.nav-active {
	background: #4392ed29;
}

.nav-link:hover {
	background: #4391ed1a;
}

.nav-link.active {
	background: #4391ed1a;
}
