.page_not_found {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #317f8b;
	color: #fff;
	gap: 10px;
}

.page_not_found_link {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
	&:hover {
		color: #90b4db;
	}
}
