.popup-box {
	height: fit-content;
	width: 120px;
	background: #fff;
	padding: 14px 20px;
	position: absolute;
	top: 90%;
	right: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 7px;
	z-index: 90;
	border-radius: 12px;
	font-weight: 500;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.218);
}
.pupup-filter {
	top: 100%;
}

.popup-box button {
	background: transparent;
	color: black;
	border: none;
	cursor: pointer;
}
.popup-delete {
	color: red !important;
}
