.register_login_box {
	height: 100%;
	width: 100%;
	display: flex;
}
.img_box {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #17a2b8;
	color: #fff;
	letter-spacing: 0.7px;
}
.authimage_box {
	position: relative;
	height: 20vw;
	width: 20vw;
	margin-bottom: 5%;
}
.authimage_back {
	border-radius: 50%;
	background: #317f8b;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.authimage {
	top: 10%;
	position: absolute;
	height: 100%;
	width: 100%;
}
.img_box h2,
.form_box h2 {
	font-weight: 500;
	margin-bottom: 10px;
}
.img_box span {
	font-size: 0.9em;
	font-weight: 100;
	opacity: 0.9;
}

.form_box {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.form_box_s {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 15px;
}

.form_box input[type="text"],
.form_box input[type="password"],
.form_box input[type="email"] {
	width: 100%;
	padding: 10px 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
}

.form_box .input_p_box {
	width: 80%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form_box .hide_show_btn {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 14px;
	cursor: pointer;
}
.form_box .hide_show_btn_s {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
	font-size: 14px;
	cursor: pointer;
}

.form_box .submit_button {
	padding: 10px 20px;
	width: 80%;
	background: #317f8b;
	border: 1px solid #317f8b !important;
	color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: smaller;
	margin: 15px 0px;
}
.form_box .update_button {
	padding: 12px 20px;
	width: 80%;
	background: #17a2b8;
	border: 1px solid #17a2b8 !important;
	color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: smaller;
	margin: 15px 0px;
}
.form_box .submit_button:active,
.form_box .update_button:active {
	background: #005f6e;
	border: 1px solid #005f6e !important;
}
.form_box .auth_change {
	opacity: 0.8;
	font-size: smaller;
}
.form_box .button_change {
	font-size: smaller;
	width: 80%;
	padding: 10px 20px;
	border: 1px solid #317f8b;
	background: transparent;
	color: #317f8b;
	cursor: pointer;
	border-radius: 50px;
}
.form_box .button_change:active {
	border: 1px solid #005f6e;
	background: #005f6e;
	color: white;
}

.form_box button:disabled {
	cursor: not-allowed;
}
