.task-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow-y: auto;
	padding: 0px 12px;
	height: 95%;
	padding-bottom: 50px;
}

.task-box {
	background-color: white;
	width: 100%;
	padding: 16px;
	border-radius: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.relative {
	position: relative;
}
.priority-menu {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.priority-menu p {
	text-transform: uppercase;
}
.priority-menu > div {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 9px;
	gap: 5px;
}
.priority-menu .circle-box {
	height: 10px;
	width: 10px;
	border-radius: 50%;
}
.high-box {
	background-color: #ff2473;
}
.moderate-box {
	background-color: #18b0ff;
}
.low-box {
	background-color: #63c05b;
}
.priority-menu .circle-name-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
	background-color: rgba(255, 202, 202, 0.408);
	border-radius: 50%;
}

.task-box h3 {
	margin: 0;
	width: fit-content;
	font-size: 18px;
	font-weight: 500;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}

.task-box > p {
	margin: 8px 0 0;
	color: #666;
}

.task-checklist {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 14px;
	font-size: 14px;
}

.task-checklist > div {
	padding: 5px;
	border-radius: 3px;
	background: #eeecec;
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0.7;
}

.task-checklist-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
	margin-top: 15px;
	height: fit-content;
	transition: all 0.1s ease;
}
.task-checklist-details-collapse {
	height: 0px;
	overflow: hidden;
	margin: 0px;
}

.checklist-details-box {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
	width: 100%;
	border: 1px solid #66666638;
	border-radius: 8px;
	padding: 6px 8px;
}

.task-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 8px;
	color: #767575;
	font-weight: 500;
	margin-top: 15px;
}

.task-btn {
	background: #eeecec;
	border-radius: 8px;
	padding: 6px 8px;
	cursor: pointer;
}

.task-btns > div {
	display: flex;
	gap: 5px;
}

.task-btn-red {
	background: #cf3636;
	color: white;
	cursor: default;
}
.task-btn-green {
	background: #63c05b;
	color: white;
	cursor: default;
}
