* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#root,
.app-container {
	height: 100vh;
	width: 100vw;
}

/* Loading Style */
.loading-container {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.loading-box {
	transform: translateY(-200%);
}

.loading {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 10px solid #8daab9cc;
	border-bottom: 10px solid transparent;
	animation: loading 1.5s infinite linear;
}

@keyframes loading {
	to {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}
